<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body>
     <a href="/">Volver a Página Principal</a>
    <h3>¡Oferta {{title}} Eliminada!</h3>
</body>
</html>