<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>JobOffer.com</title>
</head>

<body>
    <header>
         <h1 class="h1">Bienvenido a JobOffer.com</h1>
        <nav class="navbar">
            <a class=" navbar-link" href="/jobs">Ir a Empleos</a>
            <a class=" navbar-link" href="/auth/register">Registrar Nuevo Usuario</a>
            <a class=" navbar-link" href="/auth/login">Login</a>
        </nav>
    </header>
    <div class="img-box">
        <img src="Web-Developer-Outline.png" alt="dev" class="img">
    </div>
    {{#if user}}
    <div>
        <h3>Bienvenido de nuevo, {{user.email}}</h3>
        <form action="auth/logout" method="POST">
            <button class="button-logout" type="submit">LOGOUT</button>
        </form>
    </div>
    {{/if}}


    {{#if message}}
            <p>{{message}}</p>
    {{/if}}


    {{#if user}}
    <section class="form-register">
        <h2>Crear Oferta de Empleo</h2>
        <form action="/jobs/create" method="POST">

            <input class="form-register__input" type="text" name="contactEmail" placeholder="Email de contacto">

            <input class="form-register__input" type="text" name="title" placeholder="Titulo Oferta">

            <input class="form-register__input" type="text" name="description" placeholder="Descripción Oferta">

            <input class="form-register__input" type="text" name="company" placeholder="Compañía">

            <input class="form-register__input" type="text" name="city" placeholder="Ciudad">

            <button class="button" type="submit">Enviar Nueva Oferta</button>
        </form>
    </section>
    {{/if}}
</body>

</html>