<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>{{job.title}}</title>
</head>

<body>
    <a href="/jobs">Volver a empleos Actualizados</a>
    <h2 class="h2">Empleo: {{job.title}}</h2>
    <ul class="job">
        <li>
            <h4 class="h4">Oferta de Empleo:</h4>
            <p>Descripción Oferta: {{job.description}}</p>
            <p>Empresa que Oferta: {{job.company}}</p>
            <p>Provincia: {{job.city}}</p>
            <p>Persona de Contacto: {{job.contactEmail}}</p>
        </li>
    </ul>
    {{#if user}}
    <form action="/jobs/{{job._id}}" method="POST">
        <button class="button-job" type="submit">Eliminar Oferta de Empleo</button>
    </form>
    {{/if}}
</body>

</html>