<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Jobs</title>
</head>

<body>
    <header>
        <a href="/">Volver a la Página Principal</a>
        <h1 class="h1">Empleos Actualizados</h1>
    </header>
    <div>
        <p>Filtrar por provincia</p>
        
    <select name="select" id="/city/:city">
        <option>Provincia: {{this.job.city}}</option>
    </select>

    {{#each jobs}}

    <h2 class="h2">Oferta de Empleo: <a href="/jobs/{{_id}}"> {{title}} </a></h2>

    {{/each}}
    </div>
    

</body>

</html>