<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Registro</title>
</head>

<header>
    <h1 class="h1">Bienvenido a JobOffer.com</h1>
    <a class="link" href="/">Volver a Página Principal</a>
</header>

<body>

    <section class="form-register">
        <h2 class="h2">Registro Nuevo Usuario</h2>
        <form action="/auth/register" method="POST">

            <input class="form-register__input" type="text" name="email" placeholder="Introduce tu email">

            <input class="form-register__input" type="password" name="password" placeholder="Introduce tu contraseña">
            <button class="button" type="submit">Registrar</button>
        </form>
        {{#if error}}
        <div style="color: red;">
            {{error}}
        </div>
        {{/if}}
        <a class="form-register__link" href="/auth/login">Ya tengo cuenta</a>
    </section>
</body>

</html>