* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #abe0ec;
}

.form-register {
  width: 400px;
  background: burlywood;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px;
  color: white;
  box-shadow: 5px 10px 35px #000;
}

.form-register h1 {
  margin-bottom: 20px;
}

.form-register__input {
  width: 100%;
  background-color: bisque;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #143488;
  font-size: 18px;
}

.form-register__link {
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

.button {
  width: 100%;
  background-color: bisque;
  border: none;
  padding: 12px;
  color: #143488;
  margin: 16px 0;
  font-size: 16px;
}

.button-job {
  width: 20%;
  background-color: bisque;
  border: none;
  padding: 12px;
  color: #143488;
  margin: 16px 0;
  font-size: 16px;
}

.button-logout {
  width: 15%;
  background-color: bisque;
  border-color: #143488;
  color: #143488;
  margin: 16px 0;
  font-size: 16px;
  margin-left: 42%;
}

button:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

h1,
h3 {
  text-align: center;
  color: #143488;
}

h2 {
  color: #143488;
  padding-top: 30px;
}

h4{
  color:#143488;
  font-size: 20px;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #143488;
}

.job {
  list-style: none;
}

.img {
  display: block;
 
  width: auto;
  margin: 0 auto;
}
